@import "layout.css";

.main {
    max-width: var(--layout-max-width);

    h1 {
        font-size: 3rem;
        font-weight: 900;
        font-family: "Fugaz One", "Poppins", sans-serif;
        color: var(--quinary-color);

        img {
            position: relative;
            top: 5px;
        }
    }

    .intro {
        background-color: var(--quaternary-color);
        border-radius: 5px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
        padding: 30px;
    }
}
